      <h1>Title</h1>

      <form action='/detector' method='get'>
        <div class="form-group">
          <label for="userInput">Please Enter Rock, Paper, or Scissors.</label>
          <input id="$userInput" name="userInput" class="form-control" type="text">
        </div>
         <button type="submit" class="btn">Play!</button>
       </form>
