      <h1>Title</h1>

      <form action='/detector' method='get'>
        <div class="form-group">
          <label for="number">Enter Something</label>
          <input id="$number" name="number" class="form-control" type="text">
        </div>
         <button type="submit" class="btn">Enter</button>
       </form>
